Web/Service References/CzechService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" />
  <xs:element name="GetAllWords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="GetAllWordsResult" nillable="true" type="q1:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWordsOfType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="wordType" type="q2:WordType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWordsOfTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="GetAllWordsOfTypeResult" nillable="true" type="q3:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnprocessedWordsOfType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="wordType" type="q4:WordType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnprocessedWordsOfTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="GetUnprocessedWordsOfTypeResult" nillable="true" type="q5:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="GetSingleWordResult" nillable="true" type="q6:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="word" nillable="true" type="q7:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" minOccurs="0" name="word" nillable="true" type="q8:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>