Web/Service References/CzechService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CzechService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LetsLearnCzech.DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICzechService_GetWords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWords" />
  </wsdl:message>
  <wsdl:message name="ICzechService_GetWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICzechService_UpdateWord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWord" />
  </wsdl:message>
  <wsdl:message name="ICzechService_UpdateWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWordResponse" />
  </wsdl:message>
  <wsdl:portType name="ICzechService">
    <wsdl:operation name="GetWords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzechService/GetWords" message="tns:ICzechService_GetWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzechService/GetWordsResponse" message="tns:ICzechService_GetWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICzechService/UpdateWord" message="tns:ICzechService_UpdateWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICzechService/UpdateWordResponse" message="tns:ICzechService_UpdateWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICzechService" type="tns:ICzechService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWords">
      <soap:operation soapAction="http://tempuri.org/ICzechService/GetWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWord">
      <soap:operation soapAction="http://tempuri.org/ICzechService/UpdateWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CzechService">
    <wsdl:port name="BasicHttpBinding_ICzechService" binding="tns:BasicHttpBinding_ICzechService">
      <soap:address location="http://localhost:8733/CzechService/service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>